    h2 {
            font-size: 2.5em;
}    h1 {
            font-size: 3em !important;
}    body {
            background: aqua;
}    a {
            color: blue;
}

/*
 @media only screen and (max-width: 1000px) {
            h2 {
                font-size: 3em;
                
}

}

*/
